[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
selenium = "*"
chromedriver-binary = "108.0.5359.*"

[dev-packages]
autopep8 = "*"
flake8 = "*"
mypy = "*"
tzdata = "*"
autocomplete = "*"

[requires]
python_version = "3.10"
